[Desktop Entry]
Name=gnome-gps
GenericName=GPS information
Comment=Display GPS information from a gpsd daemon
Exec=/usr/local/bin/gnome-gps
Icon=/usr/share/gnome-gps/gnome-gps.logo.png
Terminal=false
Type=Application
Categories=Utility;Graphics;
